# Custom 404 error page
ErrorDocument 404 /404.html

# CSP permissions for grails.apache.org - https://issues.apache.org/jira/browse/INFRA-27297
# Ref https://docs.kapa.ai/integrations/understanding-csp-cors
SetEnv CSP_PROJECT_DOMAINS "https://*.kapa.ai/ https://kapa-widget-proxy-la7dkmplpq-uc.a.run.app https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ https://hcaptcha.com https://*.hcaptcha.com"

# Legacy Documentation Redirects
RedirectMatch 301 ^/docs-legacy-gorm/latest/.* https://grails.apache.org/docs/latest/grails-data/
RedirectMatch 301 ^/docs-legacy-gorm/snapshot/.* https://grails.apache.org/docs/snapshot/grails-data/
RedirectMatch 301 ^/docs-legacy-async/latest/.* https://grails.apache.org/docs/latest/guide/async.html
RedirectMatch 301 ^/docs-legacy-async/snapshot/.* https://grails.apache.org/docs/snapshot/guide/async.html
RedirectMatch 301 ^/docs-legacy-gsp/latest/.* https://grails.apache.org/docs/latest/guide/theWebLayer.html#gsp
RedirectMatch 301 ^/docs-legacy-gsp/snapshot/.* https://grails.apache.org/docs/snapshot/guide/theWebLayer.html#gsp
RedirectMatch 301 ^/docs-legacy-testing/latest/.* https://grails.apache.org/docs/latest/guide/testing.html
RedirectMatch 301 ^/docs-legacy-testing/snapshot/.* https://grails.apache.org/docs/snapshot/guide/testing.html
RedirectMatch 301 ^/docs-legacy-views/latest/.* https://grails.apache.org/docs/latest/guide/theWebLayer.html#gson
RedirectMatch 301 ^/docs-legacy-views/snapshot/.* https://grails.apache.org/docs/snapshot/guide/theWebLayer.html#gson